<title>
    {{ .Title }}
</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Fira Sans' rel='stylesheet'>
<link rel="stylesheet" type='text/css' href="{{.Site.BaseURL}}css/pura-mierda.css">
<script type='application/javascript' src="{{.Site.BaseURL}}js/pura-mierda.js"></script>
