<div class='my-navbar bottom-align'>

    {{$works := .Site.GetPage "works"}}
    {{$archi := .Site.GetPage "architecture"}}
    {{$lifestyle := .Site.GetPage "lifestyle"}}
    {{$bio := .Site.GetPage "info"}}


    <!-- PERSONAL -->

    <details class="nav-dropdown" {{ if eq $.Page.Parent $works }}open{{ end }}>
        <summary class='navbarLine {{ if eq $.Page.Parent $works }}personal{{ end }}'>
            Personal
        </summary>
    
        <div class="navbarDropdownContent">
            {{ range $works.Pages.ByWeight }}
                <a href="{{ .Permalink }}">
                    <div class="navbarSubLine {{ if eq $.Page . }}active-page{{ end }}">
                        {{ .Title }}
                    </div>
                </a>
            {{ end }}
        </div>
    </details>


    <!-- COMMISSIONED -->

<details class="nav-dropdown" {{ if or (eq $.Page $archi) (eq $.Page $lifestyle) }}open{{ end }}>
    <summary class='navbarLine {{ if or (eq $.Page $archi) (eq $.Page $lifestyle) }}commissioned{{ end }}'>
        Commissioned
    </summary>

    <div class="navbarDropdownContent">

        <a href="{{ $archi.Permalink }}">
            <div class="navbarSubLine {{ if eq $.Page $archi }}active-page{{ end }}">
                Architecture
            </div>
        </a>
        
        <a href="{{ $lifestyle.Permalink }}">
            <div class="navbarSubLine {{ if eq $.Page $lifestyle }}active-page{{ end }}">
                Lifestyle
            </div>
        </a>

    </div>
</details>

    <!-- INFO -->

    <a href="{{ $bio.Permalink }}">
        <div class='navbarLine {{ if eq $.Page $bio }}bio{{ end }}'>
            Info
        </div>
    </a>


    <!-- ICONS -->

    <div class='icons-container'>

        <a href='mailto:hello@alessandrovitali.it?subject='>
            <div class='footer-icon'>
                <img
                    src="https://www.svgrepo.com/show/502647/email-open.svg"
                    alt="Email"
                    width="22"
                    height="100%">
            </div>
        </a>

        <a href="https://www.instagram.com/itskender/?hl=en" target="_blank">
            <div class='footer-icon'>
                <img
                    src="https://www.svgrepo.com/show/510026/instagram.svg"
                    alt="Instagram"
                    width="20"
                    height="100%">
            </div>
        </a>

    </div>

</div>